{% extends 'base.html' %}

{% block conteudo %}


    <!--Imagem de apresentação-->

    <div class="bg-fixed-card w-100 mx-0">
      <div class="bg-fixed-card rounded shadow d-flex align-items-center">
        <div class="card-content p-4">
          <h2 class="card-title">Fique por Dentro de <br>Tudo do Nosso Curso!</h2>
          <p class="card-text">
            Queremos que você aproveite ao máximo sua jornada acadêmica.<br>
            Por isso, criamos este portal para ser o seu principal <br> canal de comunicação e estudos.
          </p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>

    <!--Notícias-->

    <div class="container my-5">
      <h2 class="mb-4">Últimas Notícias</h2>

      <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">

          {% for grupo in noticias|batch(3, fill_with=None) %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">
            <div class="row">
              {% for noticia in grupo %}
              {% if noticia %}
              <div class="col-md-4">
                <a href="{{ noticia.link }}" class="card-link text-decoration-none text-dark">
                  <div class="card card-noticia shadow-sm">
                    <img src="{{ url_for('static', filename='imagens/' + noticia.imagem) }}" class="card-img-top" alt="{{ noticia.titulo }}">
                    <div class="card-body">
                      <h5 class="card-title">{{ noticia.titulo }}</h5>
                      <p class="card-text">{{ noticia.descricao }}</p>
                    </div>
                  </div>
                </a>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>

    <!--Imagem de apresentação2-->

    <div class="bg-fixed-card2 w-100 mx-0">
      <div class="bg-fixed-card2 rounded shadow d-flex align-items-center">
        <div class="card-content p-4">
          <h2 class="card-title">Conhecendo o campus</h2>
          <p class="card-text">
            Explore cada canto do nosso campus e faça dele o seu lugar.<br>
            Mais do que salas de aula, nosso campus é um universo de oportunidades.<br>
            Descubra os melhores lugares para estudar, relaxar, encontrar amigos e viver<br>
            experiências inesquecíveis. A sua jornada universitária acontece aqui!<br>
          </p>
          
        </div>
      </div>
    </div>

    <!--Descrição da Infraestrutura-->
    <!--Biblioteca -->
    <div class="container my-5">
      <div class="row align-items-center">
        <!-- Texto à esquerda -->
        <div class="col-md-6">
          <h2 class="mb-3">Biblioteca José de Arimatéia Pereira</h2>
          <p class="lead">
            A Biblioteca José de Arimatéia Pereira do Campus Natal - Zona Norte do Instituto Federal de Educação, Ciência e
            Tecnologia do Rio Grande do Norte tem como principal objetivo servir à comunidade acadêmica no que diz respeito ao
            acesso e à disseminação da informação nos mais variados suportes informacionais. Além disso, vale salientar que
            a biblioteca é totalmente automatizada por meio do Sistema Automatizado de Bibliotecas (SIABI), cujas funções
            respondem pela operacionalização dos processos, em vigor desde o dia 16 de fevereiro de 2009.
          </p>
          <p class="lead">
            <b>Funcionamento:</b> de segunda a sexta-feira, das 7h às 21h30min, ininterruptamente.
          </p>
          <p class="lead">
            <b>Serviços:</b> empréstimo domiciliar, consulta ao acervo, reserva e renovação de materiais e orientação a trabalhos acadêmicos.
          </p>
          
            
        </div>

        <!-- Imagem à direita -->
        <div class="col-md-6 text-end">
          <img src="{{ url_for('static', filename='imagens/campus2.png') }}" alt="Descrição da imagem" class="img-fluid img-fluid shadow rounded" style="max-width: 500px;">
        </div>
      </div>
    </div>
    <!--Imagens de exibição-->
    <div class="container my-5">
      <div class="row text-center">

        <!-- Imagem 1 -->
        <div class="col-md-4 mb-4">
          <img src="{{ url_for('static', filename='imagens/campus2.png') }}" 
              alt="Imagem 1"
              class="img-fluid shadow rounded"
              style="width: 300px; height: 200px; object-fit: cover;">
        </div>

        <!-- Imagem 2 -->
        <div class="col-md-4 mb-4">
          <img src="{{ url_for('static', filename='imagens/campus2.png') }}" 
              alt="Imagem 2"
              class="img-fluid shadow rounded"
              style="width: 300px; height: 200px; object-fit: cover;">
        </div>

        <!-- Imagem 3 -->
        <div class="col-md-4 mb-4">
          <img src="{{ url_for('static', filename='imagens/campus2.png') }}" 
              alt="Imagem 3"
              class="img-fluid shadow rounded"
              style="width: 300px; height: 200px; object-fit: cover;">
        </div>

      </div>
    </div>

    <!--Laboratórios-->
    <div class="container my-5">
      <div class="row align-items-center">
        <!-- Texto à esquerda -->
        <div class="col-md-6">
          <h2 class="mb-3">Biblioteca José de Arimatéia Pereira</h2>
          <p class="lead">
            A Biblioteca José de Arimatéia Pereira do Campus Natal - Zona Norte do Instituto Federal de Educação, Ciência e
            Tecnologia do Rio Grande do Norte tem como principal objetivo servir à comunidade acadêmica no que diz respeito ao
            acesso e à disseminação da informação nos mais variados suportes informacionais. Além disso, vale salientar que
            a biblioteca é totalmente automatizada por meio do Sistema Automatizado de Bibliotecas (SIABI), cujas funções
            respondem pela operacionalização dos processos, em vigor desde o dia 16 de fevereiro de 2009.
          </p>
          <p class="lead">
            <b>Funcionamento:</b> de segunda a sexta-feira, das 7h às 21h30min, ininterruptamente.
          </p>
          <p class="lead">
            <b>Serviços:</b> empréstimo domiciliar, consulta ao acervo, reserva e renovação de materiais e orientação a trabalhos acadêmicos.
          </p>
          
            
        </div>

        <!-- Imagem à direita -->
        <div class="col-md-6 text-end">
          <img src="{{ url_for('static', filename='imagens/campus2.png') }}" alt="Descrição da imagem" class="img-fluid img-fluid shadow rounded" style="max-width: 500px;">
        </div>
      </div>
    </div>
    <!--Imagens de exibição-->
    <div class="container my-5">
      <div class="row text-center">

        <!-- Imagem 1 -->
        <div class="col-md-4 mb-4">
          <img src="{{ url_for('static', filename='imagens/campus2.png') }}" 
              alt="Imagem 1"
              class="img-fluid shadow rounded"
              style="width: 300px; height: 200px; object-fit: cover;">
        </div>

        <!-- Imagem 2 -->
        <div class="col-md-4 mb-4">
          <img src="{{ url_for('static', filename='imagens/campus2.png') }}" 
              alt="Imagem 2"
              class="img-fluid shadow rounded"
              style="width: 300px; height: 200px; object-fit: cover;">
        </div>

        <!-- Imagem 3 -->
        <div class="col-md-4 mb-4">
          <img src="{{ url_for('static', filename='imagens/campus2.png') }}" 
              alt="Imagem 3"
              class="img-fluid shadow rounded"
              style="width: 300px; height: 200px; object-fit: cover;">
        </div>

      </div>
    </div>


{% endblock %}